%footer.footer
  .container
    .row
      .span3
        %legend About
        %ul.unstyled
          %li
            %i.icon-info-sign
            %a{href: "#"} Learn more about AnonymousAds
          %li
            %i.icon-envelope
            %a{href: "#"} Contact us

      .span3
        %legend Documents
        %ul.unstyled
          %li
            %a{href: "#"} Terns Of Servise
          %li
            %a{href: "#"} Privacy Policy

      .span6
        %legend Our Ads

        .text-center
          %a.underline{href: "#"} 
            %strong Advertise with AnonymousAds
          %br
          Quality traffic without registration
          %br
          %a{href: "#"}
            %small a-ads.com


    %hr

    .row
      .span12.text-center
        .copy
          &copy; AnonymousAds 2011-2013
        %p.muted
          %small
            Servertime: 2013-03-02 07:47:18 +0000
