@import "icons/*.png"
+all-icons-sprites

$icons: "flag-rus", "flag-usa", "cart", "arrow-rise", "arrow-fall"

@each $icon in $icons
  .icon-#{$icon}, 
  .dropdown-menu > .active > a > .icon-#{$icon},
  .dropdown-menu > .active > a:hover > .icon-#{$icon},
  .dropdown-menu > li > a > .icon-#{$icon},
  .dropdown-menu > li > a:hover > .icon-#{$icon}
    +icons-sprite(#{$icon})
    height: icons-sprite-height(#{$icon})
    width: icons-sprite-width(#{$icon})