$divider-margins: 10px
$cart-block-padding: 10px

.navbar
  .container
    padding: 0 5px
  .navbar-row
    display: table-row
    .navbar-cell
      display: table-cell
      vertical-align: top
      &.navbar-cell-nowrap
        white-space: nowrap
  .btn
    margin:
      top: 22px
  .nav
    float: none
    margin: 0
    li
      float: none
      +inline-block
      a
        padding:
          left: 8px
          right: 8px
    .dropdown-menu
      li
        display: block
        float: left
        width: 100%

  .brand
    padding: 15px 8px 15px 0
    margin: 0
    width: 129px

  .divider-vertical
    height: $navbarHeight - $divider-margins
    margin: $divider-margins / 2 7px
    border: 
      color: transparent rgba(255,255,255, .6) transparent rgba(0,0,0, .1)

  .addthis_floating_style.addthis_counter_style
    &, .addthis_internal_container
      width: auto

    .addthis_counter
      padding: 0

  .nav-cart-block
    +box-shadow(inset 0 1px 3px 0 rgba(0,0,0,0.23))
    +border-radius(3px)
    padding: $cart-block-padding
    margin:
      top: $divider-margins / 2
    height: $navbarHeight - $cart-block-padding * 2 - $divider-margins
    font-size: 13px

  .nav-cart-block
    .icon-shopping-cart
      color: $linkColor