.container
  min-width: 1012px
  max-width: 1200px
  width: auto

body
  > section
    min-width: 1012px

.navbar-fixed-top
  min-width: 1012px

.navbar-fixed-top .container
  min-width: 1012px
  max-width: 1200px
  width: auto