$welcome-banner-bg: #0296d2
$welcome-banner-height: 423px
$welcome-form-label-width: 60px

.welcome-banner-section
  background:
    color: $welcome-banner-bg
    image: image-url("welcome-banner-bg.png")
    position: top right
    repeat: no-repeat
  height: $welcome-banner-height

  .welcome-banner-header
    background:
      color: rgba(0,0,0,.4)
    color: $white
    font-size: 32px
    line-height: 38px
    margin:
      bottom: 26px
    padding: 15px 0

    ul
      text-align: center
      margin: 0

      li
        margin: 0 10px
        padding: 0

        ul
          text-align: left

          li
            &
              font-size: 12px
              line-height: 16px
              margin: 0 5px

            &.count
              line-height: 38px
              font-size: 32px
              +text-shadow(0 2px 2px rgba(0,0,0,.75))

  .nav-tabs
    margin:
      bottom: 0
    border: 0

    > li
      position: relative
      overflow: hidden

      > a
        background: $white
        font-size: 22px
        padding: 15px 20px
        margin:
          right: 4px

        &:hover
          border:
            color: transparent

      &:after
        content: ""
        display: block
        position: absolute
        left: 0
        bottom: -1px
        width: 100%
        height: 1px
        +box-shadow(0 0 10px 0px rgba(0,0,0,1))

      &.active
        &:after
          display: none

  .tab-content
    padding:
      top: 40px
      bottom: 20px
    background: $white
    +border-radius(0 4px 4px 4px)
    border:
      color: $tableBorder
      width: 1px
      style: solid

    .form-horizontal
      .control-label
        width: $welcome-form-label-width

      .controls
        margin:
          left: $welcome-form-label-width + 20px

  .carousel
    font-size: 16px
    color: $white
    line-height: 20px
    height: $welcome-banner-height - 120px
    margin: 0

    h2
      font-weight: normal
      font-size: 22px
      line-height: 26px
      margin:
        top: 0
        bottom: 40px

    p
      margin:
        bottom: 20px

    .image-block
      padding:
        top: 50px

  .carousel-indicators
    top: auto
    bottom: 0
    left: 30%

    li
      width: 20px
      height: 20px
      margin:
        left: 8px
      +border-radius(999px)
      background:
        color: $white
      position: relative

      &.active
        &:after
          content: ""
          display: block
          position: absolute
          width: 14px
          height: 14px
          top: 3px 
          left: 3px
          +border-radius(999px)
          +background-image(linear-gradient(#00b5fc, #004a7d))
          +box-shadow(inset 0px 2px 0 0 #349fd6)

.welcome-news-section
  padding: 10px 0

.last-news-list
  font-size: 12px


  > li
    .span10
      margin:
        left: 0

    .span2
      width: 12%

    p
      line-height: 16px

    a
      text-decoration: underline

.last-twitts-list
  font-size: 12px

  > li
    border-bottom:
      width: 1px
      style: solid
      color: #dfdfdf
    padding:
      bottom: 2px
    margin:
      bottom: 12px

    &:last-child
      border: 0

    p
      margin:
        bottom: 5px
      line-height: 14px

    .actions
      font-size: 10px

    a
      text-decoration: underline

